
logs
*.log
npm-debug.log*
node_modules/
.coverage/
.test-results/
dist/
.idea/
.npm
.eslintcache
.DS_Store
.build/
.serverless/
.scannerwork/
.out/

.postman/environments/

# yarn2
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
